.countContainer {
    border: solid 3px darkmagenta;
    border-radius: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    padding: 15px;
}

.display {
    border-radius: 15px;
    background-color: darkmagenta;
    height: 180px;
    color: thistle;
    font-family: "Monaco";
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.warning {
    color: hotpink;
}

.settingDisplay {
    font-size: 30px;
}

.countDisplay {
    font-size: 100px;
}

.settings {
    border-radius: 15px;
    border: solid 3px darkmagenta;
    height: 180px;
    font-family: "Monaco";
    color: darkmagenta;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings input {
    font: inherit;
    width: 100px;
    border: none;
    background-color: darkmagenta;
    border-radius: 15px;
    color: thistle;
    padding-left: 30px;
}

.settings input:hover {
    border: none;
}

.buttonContainer {
    border: solid 3px darkmagenta;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px 0;
}

.button {
    border-radius: 15px;
    background-color: darkmagenta;
    border: none;
    cursor: pointer;
    font-family: "Monaco";
    color: thistle;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    width: 150px;
    margin: 0 10px;
}

.button:hover {
    background-color: mediumorchid;
}

.button:active {
    background-color: purple;
}

.disableButton {
    opacity: 50%;
    cursor: not-allowed;
}
.disableButton:hover {
    background-color: darkmagenta;
}

.disableButton:active {
    background-color: darkmagenta;
}